[
  {
    "名称": "快艇",
    "能力": "水上营救",
    "重量": "98kg",
    "数量": 3
  },
  {
    "名称": "挖掘机",
    "能力": "挖掘",
    "重量": "5000kg",
    "数量": 2
  },
  {
    "名称": "钳子",
    "能力": "挖土",
    "重量": "25g",
    "数量": 20
  },
  {
    "名称": "帐篷",
    "能力": "保暖",
    "重量": "20kg",
    "数量": 120
  },
  {
    "名称": "净水机",
    "能力": "净水",
    "重量": "105kg",
    "数量": 6
  }
]
