[
  {
    "x": 116.348637,
    "y": 40.00013,
    "name": "张乐",
    "type": "人员"
  },
  {
    "x": 116.433437,
    "y": 39.990924,
    "name": "挖掘设备",
    "type": "装备"
  },
  {
    "x": 116.257656,
    "y": 39.941455,
    "name": "蓝天救援队",
    "type": "队伍"
  },
  {
    "x": 116.374729,
    "y": 39.932505,
    "name": "李曲",
    "type": "人员"
  },
  {
    "x": 116.477383,
    "y": 39.948036,
    "name": "保暖设备",
    "type": "装备"
  },
  {
    "x": 116.24049,
    "y": 39.86824,
    "name": "爱心俱乐部",
    "type": "队伍"
  },
  {
    "x": 116.474293,
    "y": 39.853745,
    "name": "梅玲",
    "type": "人员"
  },
  {
    "x": 116.405285,
    "y": 39.944614,
    "name": "饮水设备",
    "type": "装备"
  },
  {
    "x": 116.327351,
    "y": 39.963826,
    "name": "飓风救援队",
    "type": "队伍"
  },
  {
    "x": 116.477726,
    "y": 40.020904,
    "name": "胡牟",
    "type": "人员"
  },
  {
    "x": 116.254566,
    "y": 39.95251,
    "name": "炊具",
    "type": "装备"
  },
  {
    "x": 116.56081,
    "y": 39.918288,
    "name": "暴龙救援队",
    "type": "队伍"
  },
  {
    "x": 116.537808,
    "y": 40.003023,
    "name": "方志",
    "type": "人员"
  },
  {
    "x": 116.345204,
    "y": 39.948299,
    "name": "运输工具",
    "type": "装备"
  },
  {
    "x": 116.345204,
    "y": 39.948299,
    "name": "海天救援队",
    "type": "队伍"
  }
]
